* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f3f7f0;
  font-family: "Raleway", sans-serif;
}

.navbar {
  background-color: #a93f55;
}

nav .navbar-header a {
  letter-spacing: 1px;
}
nav .navbar-header a,
ul li a {
  color: #f3f7f0;
}
nav .navbar-header button .fa {
  color: #f3f7f0;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 1.5em;
}

.glyphicon-search {
  color: #2874f0;
}

.productContainer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.all-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px 20px;
}
.card {
  width: 18rem;
}

.add-cart {
  border: 1px solid #a93f55;
  padding: 4px 14px;
  background-color: #fff;
  color: #a93f55;
  text-transform: uppercase;
  float: right;
  margin: 5px 0;
  font-weight: bold;
  cursor: pointer;
}
